# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
.venv/
.venv310/
venv/
env/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# IDEs
# =========================
.idea/
.vscode/

# =========================
# Logs
# =========================
*.log

# =========================
# LaTeX (Report)
# =========================
*.aux
*.out
*.toc
*.synctex.gz

# =========================
# Carpetas
# =========================
Dataset/ZAPATOS.zip
Dataset/preprocessed/
Dataset/preprocessed/total
Dataset/preprocessed/unique
Dataset/ZAPATOS/
Code/design/logs
Code/design/logs/fit
Code/design/cvae_model

# =========================
# Otros temporales
# =========================
*.tmp
*.swp
